.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-logo .st {
  stroke: #282c34;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}
