@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat:700');

@font-face {
  font-family: 'icomoon';
  src:
    url('Fonts/icomoon.ttf?5jilwm') format('truetype'),
    url('Fonts/icomoon.woff?5jilwm') format('woff'),
    url('Fonts/icomoon.svg?5jilwm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}
